# .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs

# Build output
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
!terraform.tfvars.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
.sublime-settings
.sublime-workspace

# claude/agents
settings.local.json

